/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-decor-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --focus-outline-color: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
}
