/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #353430;
  --title-decor-color: #ff8dcb;
  --decorated-zone-color: #353430;
  --focus-outline-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #353430;
    --title-decor-color: #ff8dcb;
    --decorated-zone-color: #353430;
    --focus-outline-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }
}
