/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--padding-base);
  height: 100vh;
  min-height: 668px;
}

.header__rec {
  position: absolute;
  top: 11px;
  right: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  padding: 2.5px 13px;
  border: 1px solid transparent;
  line-height: 1.2;
  font-size: 18px;
  font-family: "IBM Plex mono", monospace;
  background-color: transparent;
  cursor: pointer;
  font-weight: var(--font-weight-normal);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  width: 100%;
  justify-self: end;
  font-weight: var(--font-weight-bold);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px var(--padding-base);
}

.section {
  display: grid;
  gap: 20px;
}

.section_type_gallery {
  gap: 10px;
}

.section__subtitle {
  font-weight: var(--font-weight-bold);
}

.section__title {
  color: var(--decorated-zone-color);
  font-size: inherit;
  font-weight: var(--font-weight-bold);
}

.section__content {
  display: grid;
  gap: 20px;
}

.card__title {
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  margin-block-end: 10px;
}

.card__text {
  line-height: inherit;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  padding: var(--padding-base);
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-zone {
  padding: var(--padding-base);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.title-decor {
  color: var(--bg-color);
  background-color: var(--title-decor-color);
}

.section__content > .card__title {
  margin-block-end: 0;
}

.header__theme-menu-button_type_dark {
  position: relative;
  top: -1px;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    grid-template-rows: 1fr auto 1fr;
  }

  .header__rec {
    top: 21px;
    right: 28px;
  }

  .header__theme-menu {
    grid-row: 1 / 2;
    align-self: center;
    justify-self: end;
  }

  .header__title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__subtitle {
    grid-row: 3 / 4;
    align-self: center;
    justify-self: end;
    width: 364px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: clamp(236px, 30.5vw, 314px) 1fr;
  }

  .section_type_gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  .gallery__item:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .concetration-questions {
    grid-template-columns: 1fr;
  }

  .concetration-questions .section__title {
    max-width: 236px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    width: 491px;
    justify-self: end;
  }

  .section__content_grid-three-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .concetration-questions .section__title {
    max-width: 300px;
  }
}

.header__theme-menu-button:hover {
  border-color: var(--focus-outline-color);
  opacity: 0.6;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: var(--focus-outline-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}
